@tailwind base;
@tailwind components;
@import 'fonts';
@import '@fortawesome/fontawesome-free/css/all.min.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
    @apply bg-main 
  text-main 
  min-h-[100svh] 
  transition-colors
  font-mono 
  duration-200;
}

html {
  scroll-behavior: smooth;
}

.bg-main {
  @apply bg-zinc-100 
	dark:bg-zinc-800;
}

.text-main {
  @apply text-zinc-900 
	dark:text-zinc-200;
}

.bg-main-invert {
  @apply bg-zinc-800 
	dark:bg-zinc-100;
}

.text-main-invert {
  @apply text-zinc-200 
	dark:text-zinc-900;
}

.customColorPickerContainer .react-colorful__saturation-pointer,
.customColorPickerContainer .react-colorful__hue-pointer,
.customColorPickerContainer .react-colorful__alpha-pointer {
  @apply h-[16px]
	w-[16px]
	rounded-full;
}

.customColorPickerContainer .react-colorful__hue,
.customColorPickerContainer .react-colorful__alpha {
  @apply h-[14px]
	rounded-md;
}

.customColorPickerContainer .react-colorful__saturation {
  @apply mb-2
	rounded-lg
	shadow-none;
}

.customColorPickerContainer .react-colorful {
  @apply h-[100px]
	cursor-pointer;
}

details[open] summary ~ * {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -250px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.MSshow {
  width: 50%;
  opacity: 1;
}

.MShide {
  width: 0%;
  opacity: 0;
}

.MSshowTemplateTracks {
  width: 50%;
  min-width: 50%;
}

.MShideTemplateTracks {
  width: 100%;
  min-width: 100%;
}

@tailwind utilities;
