@font-face {
  font-family: 'camingocoderegular';
  src: url('./CamingoCode-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'camingocodeitalic';
  src: url('./CamingoCode-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'camingocodebold_italic';
  src: url('./CamingoCode-BoldItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'camingocodebold';
  src: url('./CamingoCode-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('./Caviar_Dreams_Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('./CaviarDreams_BoldItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('./CaviarDreams_Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('./CaviarDreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
