@import 'fonts';
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	overflow: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}


.MSshow {
	margin-left: 50%;
	opacity: 1;
}

.MShide {
	margin-left: 100%;
	opacity: 0;
}

.MSshowTemplateTracks {
	width: 50%;
	min-width: 50%;
	margin-right: 50%;
}

.MShideTemplateTracks {
	width: 100%;
	min-width: 100%;
	margin-right: 0;
}


h1 {
	@apply text-5xl
}

h2 {
	@apply text-4xl
}

h3 {
	@apply text-3xl
}

h4 {
	@apply text-2xl
}